/***********************************************************************
** print.css
**  Copyright 2004 Patrick R. Michaud (pmichaud@pobox.com)
**  This file is part of PmWiki; you can redistribute it and/or modify
**  it under the terms of the GNU General Public License as published
**  by the Free Software Foundation; either version 2 of the License, or
**  (at your option) any later version.  See pmwiki.php for full details.
***********************************************************************/

/***********************************************************************
** These settings are part of the ?action=print skin.  If you want
** to change these settings, create a new print template and set
** $PrintTemplateFmt in the config.php file to point to your new 
** printing skin.
***********************************************************************/

body { 
  width:auto;
  background-color:white;
  color:black;
  font-family:serif;
  font-size:smaller;
}

#printhead { 
  font-family:sans-serif;
  border-top:3px solid #a0a0a0; 
  border-bottom:5px solid #a0a0a0; 
  margin-bottom:1em; 
}
#printhead h3 { margin-top:0px; } 
#printhead h1 { margin-bottom:0px; }

#printtitle { 
}

#printfoot {
  margin-top:1em; 
  border-top:5px solid #a0a0a0; 
  font-size:smaller; 
}

pre{
    color: #666;
    border: #777777 1px solid;
    background-color: #eee;
    margin: 20px 25px;
    padding: 0px 10px;
    font-size:small;
    font-weight:normal;
    line-height:150%;
   width: auto;}

pre {margin-top:3px; margin-bottom:3px; color:#333; font-family:"Courier New",Courier,monospace; line-height:135%; font-size:x-small; voice-family:"\"}\""; voice-family:inherit; font-size:small;}

dt{
	border-left:5px solid #20B2AA;
	padding-left: 0.5em;
	font-weight: bold;
}

dd{
	margin-left: 2em;
}

h1,h2,h3,h4,h5,h6 {font-weight:bold; padding:0.25em 0 0.25em 10px;}
h1,h2,h3,h4 {border-bottom:1px solid; border-left:10px solid;}
h1 {margin:1.25em 5% 0.5em 0; border-color:#b7841f; color:#b7841f; font-size:medium; voice-family:"\"}\""; voice-family:inherit; font-size:large;}
h2 {margin:1.25em 15% 0.5em 0; border-color:#060; color:#060; font-size:small; voice-family:"\"}\""; voice-family:inherit; font-size:medium;}
h3 {margin:1.5em 25% 0.5em 0; border-color:#483d8b; color:#483d8b; font-size:small; voice-family:"\"}\""; voice-family:inherit; font-size:medium;}
h4 {margin:1.5em 35% 0.5em 0; border-color:#696969; color:#696969; font-size:x-small; voice-family:"\"}\""; voice-family:inherit; font-size:small;}
h5 {margin:0.5em 0 0 0; border-color:#060; color:#060; font-size:x-small; voice-family:"\"}\""; voice-family:inherit; font-size:small;}
h6 {margin:0.5em 0 0 0; border-color:#483d8b; color:#483d8b; font-size:x-small;
voice-family:"\"}\""; voice-family:inherit; font-size:small;}

a:link { color:#444444; font-weight:bold; text-decoration:none; }
a:visited { color:#444444; font-weight:bold; text-decoration:none; }
a.wikilink:hover { color: #444444; text-decoration:underline; }
a.createlink { color:#444444; }
a.createlink:visited { color:#444444; }
a.createlink:hover { color:#ff2222; }

